table,td{
    /*border: 2px solid black;*/
    border-collapse: collapse;
    text-align: center;

}
td{
    padding: 5px 10px;
}
table{
    border-radius: 15px;
    overflow: hidden;
}
tr:nth-child(odd){
    background-color:aqua;
}
tr:first-child{
     background-color: cadetblue;
}
tr:nth-child(even){
    background-color:lightblue;
}
tr:hover{
    background-color:aliceblue;
}